.text-heading{
    font-size: 50px;
    background: 
}
.bulb-default{
    height: 250px;
}
body{
    text-align: center;
}
.container{
    display: flex;
    justify-content: space-around
}
.btn{
    height: 35px;
    width: 90px;
    font-size: 20px;
    border-radius: 5px;
}
.btn:hover{
    height: 37px;
    width: 92px;
    box-shadow: 0px 1px 2px 1px;
    background-color: rgb(160, 206, 247);
}